<form action="/search" method="GET" class="footer-search__form">
	<input type="hidden" name="type" value="{{ settings.search_mode }}">
	<div class="footer-search__input-wrapper">
  		<input class="footer-search__input" type="search" name="q" autocomplete="off" autocorrect="off" aria-label="Search" placeholder="Search">
  		<i class="fas fa-search"></i>
	</div>
	<input class="visually-hidden" type="submit">
</form>